In [ ]:
%config IPCompleter.greedy=True

In [ ]:
# import requests

# download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
# target_csv_path = "nba_all_elo.csv"

# response = requests.get(download_url)
# response.raise_for_status()    # Check that the request was successful
# with open(target_csv_path, "wb") as f:
#     f.write(response.content)
# print("Download ready.")

In [2]:
%%time
import cudf
df = cudf.DataFrame()
df['key'] = [0, 1, 2, 3, 4]
df['val'] = [float(i + 10) for i in range(5)]  # insert column
df

CPU times: user 3.04 ms, sys: 0 ns, total: 3.04 ms
Wall time: 2.04 ms

   key   val
0    0  10.0
1    1  11.0
2    2  12.0
3    3  13.0
4    4  14.0

In [3]:
import cudf

nba = cudf.read_csv("nba_all_elo.csv")
type(nba)

cudf.core.dataframe.DataFrame

In [4]:
# how much data "nba" contains
#len(nba)
nba.shape
# rows, columns

(0, 2778573)

In [5]:
#nba.head() # 5
nba.head(3)

Empty DataFrame
Columns: [gameorder, game_id, lg_id, _iscopy, year_id, date_game, seasongame, is_playoffs, team_id, fran_id, pts, 1822.2881.1, 68.519516, CLE.7619, Cavaliers.7619, 97.6603, 1700.7391.3, 1692.0859.1, A.63137, W.63156, 0.51854992]
Index: []

[0 rows x 2778573 columns]

In [ ]:
# Pandas Options
pd.set_option("display.precision", 2)
pd.set_option("display.max.columns", None)

# nba.tail(3) # five
nba.tail(3)

In [ ]:
# Displaying data types
nba.info()

In [ ]:
# showing basics statistics, but only numeric columns
nba.describe()

In [ ]:
# include other data
import numpy as np
nba.describe(include=np.object)

In [ ]:
nba['team_id'].value_counts()

In [ ]:
nba['fran_id'].value_counts()

In [ ]:
nba.loc[nba['fran_id'] == 'Lakers', 'team_id'].value_counts()

In [ ]:
nba.loc[nba["team_id"] == "MNL", "date_game"].min()

In [ ]:
nba.loc[nba["team_id"] == "MNL", "date_game"].max()

In [ ]:
nba.loc[nba["team_id"] == "MNL", "date_game"].agg(("min", "max"))

In [ ]:
nba.loc[nba["team_id"] == "BOS", "pts"].sum()

In [ ]:
# Getting to Know Pandas’ Data Structures
revenues = pd.Series([5555, 7000, 1980])
revenues

In [ ]:
print(revenues.values)
print(revenues.index)

In [ ]:
type(revenues.values)

In [ ]:
# Explicit index
city_revenues = pd.Series(
    [4200, 8000, 6500],
    index=['Amsterdam', 'Toronto', 'Tokyo']
)
city_revenues

In [ ]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})
city_employee_count

In [ ]:
city_employee_count.keys()

In [ ]:
"Tokyo" in city_employee_count

In [ ]:
"New York" in city_employee_count

In [ ]:
city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})
city_data

In [ ]:
city_data.index

In [ ]:
city_data.values

In [ ]:
city_data.axes

In [ ]:
city_data.axes[0]

In [ ]:
city_data.axes[1]

In [ ]:
city_data.keys()

In [ ]:
nba.index
nba.axes
"points" in nba.keys()
"pts" in nba.keys()

In [ ]:
# Accessing Series Elements
city_revenues

In [ ]:
print(city_revenues["Toronto"])
print(city_revenues[1])

In [ ]:
city_revenues[-1]
city_revenues[1:]
city_revenues["Toronto":]

In [ ]:
colors = pd.Series(
    ["red", "purple", "blue", "green", "yellow"],
    index=[1, 2, 3, 5, 8]
)
colors

In [ ]:
colors.loc[1]

In [ ]:
colors.iloc[1]

In [ ]:
colors.iloc[1:3]

In [ ]:
colors.iloc[3:8]

In [ ]:
colors.iloc[-2]

In [ ]:
# Accessing DataFrame Elements
city_data["revenue"]

In [ ]:
type(city_data["revenue"])

In [ ]:
city_data.revenue

In [ ]:
toys = pd.DataFrame([
    {"name": "ball", "shape": "sphere"},
    {"name": "Rubik's cube", "shape": "cube"}
])
toys

In [ ]:
toys["shape"]

In [ ]:
toys.shape

In [ ]:
city_data.loc["Amsterdam"]

In [ ]:
city_data.loc["Tokyo": "Toronto"]

In [ ]:
city_data.loc["Tokyo": "Toronto"]["employee_count"]

In [ ]:
city_data.iloc[1]

In [ ]:
nba.loc[5555:5559, ["fran_id", "opp_fran", "pts", "opp_pts"]]

In [ ]:
# Querying Your Dataset
current_decade = nba[nba["year_id"] > 2010]
#current_decade.head()
current_decade.shape

In [ ]:
games_with_notes = nba[nba["notes"].notnull()]
games_with_notes.shape

In [ ]:
ers = nba[nba["fran_id"].str.endswith("ers")]
ers.shape

In [ ]:
nba[
    (nba["_iscopy"] == 0) &
    (nba["pts"] > 100) &
    (nba["opp_pts"] > 100) &
    (nba["team_id"] == "BLB")
]

In [ ]:
nba[
    (nba["_iscopy"] == 0) &
    (nba["team_id"].str.startswith("LA")) &
    (nba["year_id"]==1992) &
    (nba["notes"].notnull())
]

In [ ]:
# Grouping and Aggregating Your Data
city_revenues.sum()

In [ ]:
city_revenues.max()

In [ ]:
points = nba["pts"]
print(type(points))
points.sum()

In [ ]:
nba.groupby("fran_id", sort=False)["pts"].sum()

In [ ]:
nba[
    (nba["fran_id"] == "Spurs") &
    (nba["year_id"] > 2010)
].groupby(["year_id", "game_result"])["game_id"].count()

In [ ]:
nba[
    (nba["fran_id"] == "Warriors") &
    (nba["year_id"] == 2015)
].groupby(["is_playoffs", "game_result"])["game_id"].count()

In [ ]:
# Manipulating Columns
df = nba.copy()
df.shape

In [ ]:
df["difference"] = df.pts - df.opp_pts
df.shape

In [ ]:
df["difference"].max()

In [ ]:
renamed_df = df.rename(
    columns={"game_result": "result", "game_location": "location"}
)
renamed_df.info()

In [ ]:
df.shape

In [ ]:
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]
df.drop(elo_columns, inplace=True, axis=1)
df.shape

In [ ]:
# Specifying Data Types
df.info()

In [ ]:
df["date_game"] = pd.to_datetime(df["date_game"])
df["date_game"].head()

In [ ]:
df["game_location"].nunique()

In [ ]:
df["game_location"].value_counts()

In [ ]:
df["game_location"] = pd.Categorical(df["game_location"])

In [ ]:
df["game_location"].dtype

In [ ]:
df.info()

In [ ]:
df["game_result"].nunique()
df["game_result"].value_counts()
df["game_result"] = pd.Categorical(df["game_result"])
df.info()

In [ ]:
# Cleaning Data
rows_without_missing_data = nba.dropna()
rows_without_missing_data.shape

In [ ]:
data_without_missing_columns = nba.dropna(axis=1)
data_without_missing_columns.shape

In [ ]:
# Replacing
data_with_default_notes = nba.copy()
data_with_default_notes["notes"].fillna(
    value="no notes at all",
    inplace=True
)
data_with_default_notes["notes"].describe()

In [ ]:
# Invalid values
nba[nba["pts"] == 0]

In [ ]:
# Inconsistent Values

print(nba[(nba["pts"] > nba["opp_pts"]) & (nba["game_result"] != 'W')].empty)
print(nba[(nba["pts"] < nba["opp_pts"]) & (nba["game_result"] != 'L')].empty)

In [ ]:
# Combining Multiple Datasets
further_city_data = pd.DataFrame(
    {"revenue": [7000, 3400], "employee_count":[2, 2]},
    index=["New York", "Barcelona"]
)
all_city_data = pd.concat([city_data, further_city_data], sort=False)
all_city_data

In [ ]:
all_city_data = pd.concat([city_data, further_city_data], sort=False)
all_city_data

In [ ]:
city_countries = pd.DataFrame({
    "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital": [1, 1, 0, 0, 0]},
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False)
cities

In [ ]:
pd.concat([all_city_data, city_countries], axis=1, join="inner")

In [ ]:
countries = pd.DataFrame({
    "population_millions": [17, 127, 37],
    "continent": ["Europe", "Asia", "North America"]
}, index= ["Holland", "Japan", "Canada"])
pd.merge(cities, countries, left_on="country", right_index=True)

In [ ]:
# inner join
pd.merge(
    cities,
    countries,
    left_on="country",
    right_index=True,
    how="left"
)

In [ ]:
# Visualizing Your Pandas DataFrame
%matplotlib inline

nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].sum().plot()

In [ ]:
nba["fran_id"].value_counts().head(10).plot(kind="bar")

In [ ]:
nba[
    (nba["fran_id"] == "Heat") &
    (nba["year_id"] == 2013)
]["game_result"].value_counts().plot(kind="pie")